<h1>About</h1>

<p>
	This website is part of a small project done by <a href="/contact">Yaacoub Yaacoub.</a><br>
	copyright Blackbox.<br>
	On this website you can unpload a video and stream it online,<br>
	trim it and then redownload it,<br>
	take some costumized thumbnails.<br>
	Thank you for visiting this page.<br>
</p>
